<footer class="section footer">
        <div class="container">
            <div class="row">

                <div class="one-third column value">
                    <p class="value-description">Footer stuffs</p>
                </div>
                <div class="one-third column value">
                    <p class="value-description">More footer stuffs</p>
                </div>
                <div class="one-third column value">
                    <div class="u-pull-right">
                        <span>Get in contact</span><br>
                        <div class="icon -facebook u-pull-left"></div>
                        <div class="icon -twitter u-pull-left"></div>
                        <div class="icon -linkedin u-pull-left"></div>
                    </div>
                </div>
            </div>
        </div>
</footer>