<div class="section get-help">
    <div class="container">

        <section id="todoapp" class="js-todoapp">
            <header id="header">
                <h1>Todos</h1>
                <input class="js-new-todo" placeholder="What needs to be done?">
                <div>
                    <a href="#/">show all</a> |
                    <a href="#/pending">show pending</a> |
                    <a href="#/completed">show completed</a>
                </div>
            </header>
            <section id="main">
                <ul id="todo-list" class="js-todo-list"></ul>
            </section>
        </section>

    </div>
</div>
