<!--<h3 class="section-heading">To Dos</h3>-->

<!--<div id="todo">-->
<!--</div>-->
<!--<script type="text/template" id="item-template">-->
<!--<div>-->
<!--<input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>-->
<!--<%= title %>-->
<!--</div>-->
<!--</script>-->

<section id="todoapp" class="js-todoapp">
    <header id="header">
        <h1>Todos</h1>
        <input class="js-new-todo" placeholder="What needs to be done?">
        <div>
            <a href="#/">show all</a> |
            <a href="#/pending">show pending</a> |
            <a href="#/completed">show completed</a>
        </div>
    </header>
    <section id="main">
        <ul id="todo-list" class="js-todo-list"></ul>
    </section>
</section>
