<script type="text/template" class="js-item-template">
    <!-- template for each li in todolist -->
    <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
        <label><%- title %></label>
        <input class="edit" value="<%- title %>">
        <button class="destroy">remove</button>
    </div>
</script>