<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}Test Site{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png" />

</head>
<body>

{% block body %}{% endblock %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/functions.js"></script>

{#todo sort backbone templates#}
{% block backboneTemplates %}
    {#&#123;&#35; 2. Html templates &#35;&#125;#}
    {#{% for name in [#}
    {#'template', 'template2'#}
    {#] %}#}
        {#<script type="text/template" id="template-{{ name|replace({'/': ''}) }}">#}
            {#{% include('backbone/_' ~ name|replace({'-': '_'}) ~ '.html.twig') %}#}
        {#</script>#}
    {#{% endfor %}#}
{% endblock %}

</body>
</html>
