<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="section hero">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h1 class="hero-heading js-main-title">St Mary's <br/>Venue</h1>
                <hr style="width:100%;">
                <!--<p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>-->
                <!--<button class="hiButton">Hi</button>-->
            </div>
            <div class="one-half column phones">
                <!--<img class="phone" src="images/iphone.png">-->
            </div>
        </div>
    </div>
</div>

<div class="section values">
    <div class="container">
        <div class="row">
            <div class="twelve column value">
                <h2 class="value-multiplier">Welcome to St Mary's Venue</h2>
                <p class="value-description">

                    St Mary’s is an excellent choice for any event:

                    Conferences
                    Product launches
                    Exhibitions
                    Dinners
                    Drinks receptions
                    Fashion shows
                    Concerts

                    Our friendly and efficient staff work with you at every stage, dedicated to making your event a success. Satisfied clients of St Mary’s Venue include the BBC, BT, Royal College of Physicians, Cancer Research UK, BDO Stoy Hayward and the Toy Retailers Association.

                    The venue’s recommended caterers, with clients including Marks and Spencer, Microsoft and Landrover, are available to meet your requirements. We are happy to accommodate alternative caterers at your request.

                    Please do get in touch with us and we can arrange a site visit, which we offer free of charge, which gives you an opportunity to see how best we can accommodate your requirements.

                    We look forward to hearing from you and working with you!
                </p>
            </div>
            <div class="one-third column value">
                <!--<h2 class="value-multiplier">90%</h2>-->
                <!--<h5 class="value-heading">Multi-device Users</h5>-->
                <!--<p class="value-description">Most of the world accesses the internet on multiple devices.</p>-->
            </div>
        </div>
    </div>
</div>



<div class="section categories">
    <div class="container">
        <h3 class="section-heading">Gallery</h3>
        <p class="section-description">The wooden floors, stained glass windows and 15-metre high ceilings make the church’s main space a grand and spectacular area.

            Stretching 24 metres in length and 19 metres across it is a highly versatile area.</p>
        <div class="row">
            <div class="one-half column category">
                <img class="u-max-full-width" src="images/carol.jpg">
            </div>
            <div class="one-half column category">
                <img class="u-max-full-width" src="images/cabaret-style.jpg">
            </div>
        </div>
    </div>
</div>

<div class="section get-help">
    <div class="container">
        <h3 class="section-heading">About Us</h3>
        <p>

            A Unique Venue In The Heart of London …

            St Mary’s is a unique London venue. Excellently located just north of Oxford Street, St Mary’s is a stunning Grade 1 listed building that underwent a £3.7 million renovation in 2002. The extensive work not only restored the building to its original Georgian splendour but also significantly expanded and modernised its facilities. In 2014 the sound system, audio visual system and lighting were all also upgraded.

            The venue boasts a prestigious, light and spacious main room and a large lower floor. These two main areas combined provide over 780 square metres of open space.

            With superb and highly flexible facilities, St Mary’s is an excellent choice for any event:
            conferences, product launches, exhibitions, dinners, drinks receptions, fashion shows, concerts, examinations.

            Our friendly and efficient staff work with you at every stage, dedicated to making your event a success. This, combined with competitive and affordable rates makes St Mary’s one of the most sought-after venues in central London.
            Previous clients of St Mary’s include the BBC, BT, Royal College of Physicians, Cancer Research UK, London Fashion Week, Matalan, and the Toy Retailers Association.

            St Mary’s is situated on Wyndham Place, between York Street and Crawford Street, W1H 1PQ, a short walking distance from Baker Street, Marylebone and Edgware Road tube stations.
        </p>


    </div>
</div>