<header class="navigation js-navigation">
    <div class="">
        <div class="navigation__header">
            <a href="#" class="logo"><img class="u-max-full-width navigation__header-logo" src="images/stmarysv.png"></a>
        </div>

        <nav class="navigation__nav">
            <input type="checkbox" id="nav" class="js-nav-checkbox" /><label for="nav"></label>
            <ul>
                <li><a href="#">About</a></li>
                <li>
                    <a href="#">The Space</a>
                    <label for="sub-dropdown" class="toggle-sub" onclick><img class="down-arrow" src="./images/down-arrow.png"></label>
                    <input type="checkbox" id="sub-dropdown" class="js-nav-checkbox">
                    <ul class="navigation__subnav">
                        <li><a href="#">Upstairs</a></li>
                        <li><a href="#">Downstairs</a></li>
                    </ul>
                </li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Rates</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>