<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>TestSite</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png" />

</head>
<body>


<div id="headerContent"></div>

<!--<div id="pageContent"></div>-->
<script type="text/template" id="item-template">
    <!--<div class="view">-->
    <!--<input class="toggle" type="checkbox" style="float:left;">-->
    <!--<label style="float:left"><%- title %></label>-->
    <!--</div>-->
    <div id="pageContent"><%= content %></div>
</script>

<!--<script type="text/template" id="template-{{ name|replace({'/': ''}) }}">-->
    <!--{% include('backbone/_' ~ name|replace({'-': '_'}) ~ '.html') %}-->
<!--</script>-->

<div id="footerContent"></div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/functions.js"></script>
</body>
</html>
