<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>TestSite</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png" />

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header class="navigation">
    <div class="menu-container">
        <div class="navbar-header">
            <a href="#" class="logo">TEST</a>
        </div>

        <nav>
            <input type="checkbox" id="nav" /><label for="nav"></label>
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Work</a>
                    <label for="sub-dropdown" class="toggle-sub" onclick>v</label>
                    <input type="checkbox" id="sub-dropdown" class="sub-nav-check">
                    <ul>
                        <li><a href="#">Web</a></li>
                        <li><a href="#">Print</a></li>
                    </ul>
                </li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="one-half column" style="margin-top: 25%">
            <h4>Basic Page</h4>
            <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
            <!--<button class="hiButton">Hi</button>-->
            <div class="backbone"></div>
        </div>
    </div>
</div>

<!--<div id="includedContent"></div>-->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/functions.js"></script>
</body>
</html>
