<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>TestSite</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
        #todoapp ul {
            list-style-type: none;
        }

        #todoapp ul li {
        }

        #todo-list input.edit {
            display: none;
        }

        #todo-list .editing label {
            display: none; /* hide when editing */
        }

        #todo-list .editing input.edit {
            display: inline; /* Shows input text box when .editing*/
        }
    </style>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png" />

</head>
<body>


<div id="headerContent" class="headerContent">hi</div>

<div id="pageContent"></div>

<!--<div id="pageContent"></div>-->

<div class="section get-help">
    <div class="container">


        <section id="todoapp" class="js-todoapp">
            <header id="header">
                <h1>Todos</h1>
                <input class="js-new-todo" placeholder="What needs to be done?">
                <div>
                    <a href="#/">show all</a> |
                    <a href="#/pending">show pending</a> |
                    <a href="#/completed">show completed</a>
                </div>
            </header>
            <section id="main">
                <ul id="todo-list" class="js-todo-list"></ul>
            </section>
        </section>
        <!-- template for each li in todolist -->
        <script type="text/template" class="js-item-template">
            <div class="view">
                <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
                <label><%- title %></label>
                <input class="edit" value="<%- title %>">
                <button class="destroy">remove</button>
            </div>
        </script>

    </div>
</div>

<div id="footerContent"></div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="templates/_templates.js"></script>
<script src="js/functions.js"></script>
</body>
</html>
