{% extends 'layout.html.twig' %}

{% block content %}
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="section get-help">
        <div class="container">

            <section id="todoapp" class="js-todoapp">
                <header id="header">
                    <h1>Todos</h1>
                    <input class="js-new-todo" placeholder="What needs to be done?">
                    <div>
                        <a href="#" class="js-route-home">show all</a> |
                        <a href="#/pending" class="js-route-pending">show pending</a> |
                        <a href="#/completed" class="js-route-completed">show completed</a>
                    </div>
                </header>
                <section id="main">
                    <ul id="todo-list" class="js-todo-list"></ul>
                </section>
            </section>

        </div>
    </div>

{% endblock %}

{% block backboneTemplates %}
    {{ include('_todo.html.twig') }}
{% endblock %}